In [1]:
#In a dictionary

#-Indexing
#-Ordered
#-Multiple and duplicate data
#-Mutable

In [2]:
#Syntax
#d={<key>:<value>, <key>:<value>}

In [3]:
d={'a':'apple', 'b':'ball', 'c':'cat'}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [5]:
print(d['a'])
print(d['c'])

apple
cat

In [14]:
d={'a':'apple', 'b':'ball', 'c':'cat', 'a':'ant'} #You can not duplicate a key
print(d)
#duplicate key will ignore its prvious value, thus is mutable
#a key can never be changed

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [19]:
#Update
d={'a':'apple', 'b':'ball', 'c':'cat'}
d['a']='Apple'    #Change case or value
d

{'a': 'Ant', 'b': 'ball', 'c': 'cat'}

In [20]:
#d = dict()   
d={}
d['a']='apple'     
d['b']='ball'
d['c']='cat'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [24]:
#taking input
d={}
n=int(input("Enter n= "))
for i in range(n):
    name= input("Enter name = ")
    phone= input("Enter phone = ")
    d[phone]= name
    
print(d)

Enter n=  1
Enter name =  Shambhawi
Enter phone =  9849943262

{'9849943262': 'Shambhawi'}

In [26]:
#will only print the values from dictionary
d = {'9849943262':'Ram', '9841810400': 'Shyam'}
for i in d.values():
    print(i)

Ram
Shyam

In [31]:
#Will print key and values from the dictionary
d = {'9849943262':'Ram', '9841810400': 'Shyam'}
for i in d.items():
    print(i)

('9849943262', 'Ram')
('9841810400', 'Shyam')

In [37]:
#When we convert a tuple into a dictionary
t = (('9849943262','Ram'), ('9841810400', 'Shyam'))
d= dict(t)
d

<class 'tuple'>

In [49]:
#Deleteing a value in dictionary using del pop()
a={'9849943262':'Ram', '9841519171':'Shyam'}
del d['9849943262']
d

{'9841810400': 'Shyam'}

In [50]:
#You cant concatinate,so you only update
a={'9849943262':'Ram', '9841519171':'Shyam'}
b={1:1, 2:4, 3:9}
a.update(b)
print(a)

{'9849943262': 'Ram', '9841519171': 'Shyam', 1: 1, 2: 4, 3: 9}

In [58]:
d={'name':['Ram','Shyam','Hari','Sita'],
    'age':['21','22','23','24'],
    'add':['ktm','bkr''lpr','pkr']}
print(d)
#Incomplete

{'name': ['Ram', 'Shyam', 'Hari', 'Sita'], 'age': ['21', '22', '23', '24'], 'add': ['ktm', 'bkrlpr', 'pkr']}

In [70]:
#List inside dictionary
#d={'name':[],'age':[],'add':[]}
#n=int(input("Enter n= "))
#for i in range(n):
#    name=input("Enter name = ")
#    age=input("Enter age = ")
#    add=input("Enter add= " )
#    d['name'].append(name)
#   d['age'].append(age)
#    d['add'].append(add)

#    print(d)

In [67]:
#Dictionary inside list

#(l=[]
#n=int(input("Enter n= "))
#for i in range(n):
#    name=input("Enter name = ")
#    age=input("Enter age = ")
#    add=input("Enter add= " )
#    d={'name':name,'age':age,'add':add}
#    l.append(d)
#l

In [71]:
#d={1:{'name': 'Sham', 'age': '23', 'add': 'anamnagar'},
#   2:{'name': 'luna', 'age': '23', 'add': 'satdobato'}}
#d

In [81]:
#Asking with user

d={}
n=int(input("Enter n= "))
for i in range(1,n+1):
    name=input("Enter name = ")
    age=input("Enter age = ")
    add=input("Enter add= " )
    dd={'name':name,'age':age,'add':add}
    d[i]=dd #use different key than d
d

Enter n=  2
Enter name =  sham
Enter age =  23
Enter add=  bkr
Enter name =  laxmi
Enter age =  23
Enter add=  pkr

{1: {'name': 'sham', 'age': '23', 'add': 'bkr'},
 2: {'name': 'laxmi', 'age': '23', 'add': 'pkr'}}

In [83]:
#print the value of 1 on dict
d[1]

({'name': 'sham', 'age': '23', 'add': 'bkr'}, ['name'])

In [85]:
#for name
d[1]['name']

'sham'

In [87]:
#to change the vale in a particular d[key] key
d[2]['name']="Asmit"
d

{1: {'name': 'sham', 'age': '23', 'add': 'bkr'},
 2: {'name': 'Asmit', 'age': '23', 'add': 'pkr'}}