In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 558.5 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp311-cp311-macosx_11_0_arm64.whl size=247957 sha256=0b48e7095d2a1ff45554022a1561b9df0ccf53dc8d720345fff898ab10d8c366
  Stored in directory: /Users/sham/Library/Caches/pip/wheels/17/cd/ed/2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [16]:
import mysql.connector  #importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "demodatabase"
            )
db = database.cursor()

In [26]:
sql= "SELECT * FROM studentinfo"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Shambhawi', 85, 81, 94, 85, 60, 405, 81.0, 'A'), (2, 'Asmit', 85, 90, 90, 80, 70, 420, 84.0, 'A'), (3, 'Hari', 40, 40, 40, 40, 40, 200, 40.0, 'C'), (4, 'Sima', 40, 40, 40, 40, 50, 210, 42.0, 'C')]

In [27]:
#fetching data of students having grade A(criteria)

sql="SELECT * FROM studentinfo where grade='A'"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Shambhawi', 85, 81, 94, 85, 60, 405, 81.0, 'A'), (2, 'Asmit', 85, 90, 90, 80, 70, 420, 84.0, 'A')]

In [33]:
#insert
sql = '''INSERT INTO StudentInfo (Name, English, Nepali, Maths, Science, Social Studies, Total, Percentage, Grade) 
                    VALUES ('Mina',50,50,50,50,50,250,50.00,'B');'''
db.execute(sql)
database.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Studies, Total, Percentage, Grade)
                    VALUES ('Mina',50,50,...' at line 1

In [ ]:
#assignment:  WAP to create a result management system taking data from the user and store it in database

In [ ]:
#Update something in the database: for example replacing duplicate values

In [37]:
sql = "UPDATE StudentInfo SET name ='Shambhawi' WHERE sn =9"
db.execute(sql)
database.commit()   #You can do the same with other criteria

In [38]:
#del
sql = "DELETE FROM StudentInfo WHERE SN = 6"
db.execute(sql)
database.commit()

In [ ]:
#SQL cheatsheet to learn more SQL queries like data camp
#PowerBi
#Tableau
#D#.JS
#Prioratize coding with python rather than tableu or other softwares