In [1]:
#-Set
#-No Indexing
#-Unordered
#-Multiple but no duplicate data
#-Mutable

In [2]:
#-Syntax
s=set()

In [3]:
s={1,2,3}
print(type(s))

<class 'set'>

In [4]:
#No Indexing
s={"Apple", "Ball", 'Cat','Dog'}
print(s[0])

TypeError: 'set' object is not subscriptable

In [10]:
#Unordered
s={"Apple","Ball","Cat",'Dog'}
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [11]:
#Multiple but no duplicate data
s={"Apple","Ball","Cat",'Dog',"Apple","Cat"}
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [13]:
#Mutable
s={"Apple","Ball","Cat",'Dog','Elephant',"Fox"}
s

{'Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fox'}

In [14]:
#add()
s=set()
s.add("Ant")
s.add("Box")
print(s)

{'Box', 'Ant'}

In [17]:
s={"Ant","Box","Cake"}
for i in s:
    print(i)

Box
Ant
Cake

In [16]:
s={"Ant","Box","Cake"}    #you cant replace element so you simply remove and add
s.remove("Ant")
print(s)

{'Box', 'Cake'}

In [18]:
#two sets can never be concatinated/will show error
a={1,2,3}
b={4,5,6}
c=a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [20]:
#In the case you have to concatinate two sets
a={1,2,3}
b={4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Notes
#no list inside set
#no dictionary inside set
#no set inside set

In [ ]:
#Set in Maths

In [26]:
#To see the intersection between 2 sets
University={'Joseph','Hillary','Bill', 'Shyam', 'Sabin', 'Subodh', 'Hari', 'Steve', 'William', 'Saroj', 'Mike', 'Nikesh', 'Ram', 'John'}
apple = {"John","Steve","Mike","Ram","Hari","Shyam","Nikesh"}
ms = {"Bill","William","Sabin","Saroj","Subodh","Shyam","Hari"}

i = apple.intersection(ms)
print(i)

{'Hari', 'Shyam'}

In [23]:
#To see the union of 2 sets
un=ms.union(apple)
print(un)

{'Bill', 'Shyam', 'Sabin', 'Subodh', 'Hari', 'Steve', 'William', 'Saroj', 'Mike', 'Nikesh', 'Ram', 'John'}

In [24]:
#To see elements only at set a
df1 = apple-ms
print(df1)

{'Steve', 'Mike', 'Nikesh', 'Ram', 'John'}

In [25]:
#To see elements only at set b
df2=ms-apple
print(df2)

{'Bill', 'Sabin', 'Subodh', 'William', 'Saroj'}

In [29]:
Unemployed= University- un
print(Unemployed)

{'Joseph', 'Hillary'}

In [ ]:
#Notes: Set is used in to show:
#* Common traits; i.e a resume and job requirement
#* Movie recommendation algorithm, matching the common elements i.e genre